asgiref==3.5.2
cycler==0.11.0
Django==4.0.4
django-postgres-extensions==0.9.3
fonttools==4.34.4
kiwisolver==1.4.4
latex2mathml==3.74.0
matplotlib==3.5.2
numpy==1.23.1
packaging==21.3
pandas==1.4.3
parsec==3.13
Pillow==9.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
schemdraw==0.15
six==1.16.0
sqlparse==0.4.2
toolz==0.12.0
tzdata==2022.1
ziafont==0.4
ziamath==0.6
