{% extends "master.html" %}

{% block title %} Index E-Assessments {% endblock %}

{% block content %}

<div style="position:absolute; left:0px; right:0px; top:0px; width:100%; padding-left: 40px; padding-top: 40px; padding-right: 40px;">
    <h3 style="color:#00d055; text-decoration: underline;">1. Missing Instructions</h3>
    <br>
    {% if MissingInstructions|length > 0 %}
        <i>The following instructions are not part of your answer: </i><br><br>
        <ul class="list-group">
            {% for instruction in MissingInstructions %}
                <li class="list-group-item">{{instruction}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-success" role="alert">
            No instructions are missing!
        </div>
    {% endif %}
    <br><br>
    <h3 style="color:#00d055;text-decoration: underline;">2. Compare the states of your program</h3>
    <br>
    <div class="row">
        <div class="col-sm-6">
        <div class="card" style="border-color: #3a3b3b;">
            <div class="card-body" style="text-align: center;">
            <h5 class="card-title">Solution ✔️</h5>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
        <div class="card" style="border-color: #3a3b3b;">
            <div class="card-body" style="text-align: center;">
            <h5 class="card-title">User 👨🏼‍💻</h5>
            </div>
        </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    {% for state1, state2 in States %}
        <div class="row">
            <div class="col-sm-6">
            <div class="card" style="border-color: #00d055; border-width: 2.5px;">
                {% for k, v in state1.items %}
                    <div class="card-body">
                        <h5 class="card-title">{{k}}</h5>
                        {% for register, value in v.items %}
                            <span>{{register}}: {{value}}</span><br>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            </div>
            <div class="col-sm-6">
                {% for k, v in state2.items %}
                    {% if k != "Com" %}
                        {% if state2.Com == True %}
                            <div class="card"  style="border-color:#00d055;border-width:2.5px;">
                        {% elif state2.Com == False %}  
                            <div class="card" style="border-color:#d00000;border-width:2.5px;">
                        {% else %}
                            <div class="card" style="border-color:#c0d000;border-width:2.5px;">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{k}}</h5>
                            {% for register, value in v.items %}
                                <span>{{register}}: {{value}}</span><br>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            </div>
        </div>
        <br>
    {% endfor %}
</div>

{% endblock %}