{% extends "master.html" %}

{% block title %} Index E-Assessments {% endblock %}

{% block content %}

<div style="position:absolute; left:0px; right:0px; top:0px; width:100%; padding-left: 40px; padding-top: 40px;">

    <p class="form-group">
        Please translate the following binarynumber into decimal: <b class="badge badge-pill badge-primary" style="background-color: #bba457; color: #424242">{{binarycode}}</b> <br>

        <h4>{{message}}</h4>
        
        <form action="/eassessments/{{Target}}/", method="post">
            {% csrf_token %}
            {{Form}}
            <button type="submit" class="btn btn-info">Answer</button>
        </form>        
    </p>
</div>

{% endblock %}