{% extends "master.html" %}

{% block title %} Index E-Assessments {% endblock %}

{% block content %}

<div style="position:absolute; left:0px; right:0px; top:0px; width:100%; padding-left: 40px; padding-top: 40px;">

    {% if message %}
        {% if correct %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {% endif %}
    {% else %}
        <p class="form-group">
            
            <form action="/eassessments/{{Target}}/", method="post">
                {% csrf_token %}
                {% for cloze in cloze_items %}
                {{cloze}}
                {% endfor %}
                {{form.cloze_id}}
                {{form.NameID}}
                {{form.BeginTime}}
                <br><br>
                <button type="submit" class="btn btn-info">Answer</button>
            </form>
        </p>
    {% endif %}
        
    </p>
</div>

{% endblock %}