<!DOCTYPE html>
<html>
<body>

<h1>Easy Arch</h1>
<hr><br><br>

{% if ComputerModels|length > 0 %}
    <h2>Assembler</h2>
    {% for qwaset in Assembler %}
        <p>
            <a href="/eassessments/{{qwaset.Target}}/?t={{qwaset.Categorie}}">({{qwaset.Difficulty}}) - {{qwaset.title}}</a>
        </p>
    {% endfor %}
{% endif %}

<br>

{% if ComputerModels|length > 0 %}
    <h2>Computer Models</h2>
    {% for qwaset in ComputerModels %}
        <p>
            <a href="/eassessments/{{qwaset.Target}}/?t={{qwaset.Categorie}}">({{qwaset.Difficulty}}) - {{qwaset.title}}</a>
        </p>
    {% endfor %}
{% endif %}

<br>

{% if Gates|length > 0 %}
    <h2>Gates</h2>
    {% for qwaset in Gates %}
        <p>({{qwaset.Difficulty}}) - {{qwaset.title}}</p>
    {% endfor %}
{% endif %}

<br>

{% if Calculus|length > 0 %}
    <h2>Calculus</h2>
    {% for qwaset in Calculus %}
        <p>({{qwaset.Difficulty}}) - {{qwaset.title}}</p>
    {% endfor %}
{% endif %}

<br>

{% if Optimization|length > 0 %}
    <h2>Optimization</h2>
    {% for qwaset in Optimization %}
        <p>({{qwaset.Difficulty}}) - {{qwaset.title}}</p>
    {% endfor %}
{% endif %}

<br>

{% if Quantencomputing|length > 0 %}
    <h2>Quantencomputing</h2>
    {% for qwaset in Quantencomputing %}
        <p>({{qwaset.Difficulty}}) - {{qwaset.title}}</p>
    {% endfor %}
{% endif %}
</body>
</html> 