{% load template_tags %}

<!-- Load Variables via template tags -->
{% get_SuccessRate_Week user as successRate_Week %}
{% get_SuccessRate_Today user as successRate_Today %}
{% get_SuccessRate_All user as successRate_All %}
{% get_UserAnsweredTopics_Count user as Topics_Counts %}
{% get_UserAnsweredTopics_Count user as AnsweredTopics %}

<h2>Your Progress</h2>
<div class="card-group">

  <div class="card">
    <div id="container" style="width: 300px; height: 150px;">
          {% if successRate_Today|get__array_valueByIndex:0 > 60 %}
          <h2 class="text-success">{{successRate_Today|get__array_valueByIndex:0}}%</h2>
          {% else %} 
                {% if successRate_Today|get__array_valueByIndex:0 %}
                <p class="text-warning">{{successRate_Today|get__array_valueByIndex:0}}%</p>
                {% else %} 
                <p class="text-danger">{{successRate_Today|get__array_valueByIndex:0}}%</p>
                {% endif %}
          {% endif %}
        
        <h3>Correctly Answered: {{successRate_Today|get__array_valueByIndex:2}}</h3>
        <h3>Incorrectly Answered: {{successRate_Today|get__array_valueByIndex:3}}</h3>
      </div>
  <div class="card-body">
    <br>
    <h5 class="card-title">single choice overview</h5>
    <p class="card-text">Here you can see how much Single Choice Questions you have answered right or wrong.</p>
    <p class="card-text"><a href="#" class="btn btn-info">View more</a></p>
  </div>
  </div>

  <div class="card">
    <div id="container" style="width: 300px; height: 150px;">
      <canvas id="pie-linechart-week" width="300" height="200"></canvas>
    </div>
  <div class="card-body">
    <br>
    <h5 class="card-title">Weekly Progress</h5>
    <p class="card-text">Here you can see how much Questions you have answered right or wrong.</p>
  </div>
  </div>

</div>
<br>

<h2>Task Types Overview</h2>
      <div class="card-group">
        
        <div class="card">
          <div id="container" style="width: 300px; height: 150px;">
              <canvas id="pie-chart-sc"></canvas>
            </div>
        <div class="card-body">
          <br>
          <h5 class="card-title">single choice overview</h5>
          <p class="card-text">Here you can see how much Single Choice Questions you have answered right or wrong.</p>
          <p class="card-text"><a href="#" class="btn btn-info">View more</a></p>
        </div>
        </div>

        <div class="card">
          <div id="container" style="width: 300px; height: 150px;">
              <canvas id="pie-chart-mc"></canvas>
            </div>
        <div class="card-body">
          <br>
          <h5 class="card-title">multiple choice overview</h5>
          <p class="card-text">Here you can see how much Multiple Choice Questions you have answered right or wrong.</p>
          <p class="card-text"><a href="#" class="btn btn-info">View more</a></p>
        </div>
      </div>


    <div class="card">
      <div id="container" style="width: 300px; height: 150px;">
          <canvas id="pie-chart-cloze"></canvas>
        </div>
    <div class="card-body">
      <br>
      <h5 class="card-title">cloze overview</h5>
      <p class="card-text">Here you can see how much Multiple Choice Questions you have answered right or wrong.</p>
      <p class="card-text"><a href="#" class="btn btn-info">View more</a></p>
    </div>
  </div>


  <div class="card">
      <div id="container" style="width: 300px; height: 150px;">
          <canvas id="pie-chart-truthtable"></canvas>
        </div>
    <div class="card-body">
      <br>
      <h5 class="card-title">truth table overview</h5>
      <p class="card-text">Here you can see how much Multiple Choice Questions you have answered right or wrong.</p>
      <p class="card-text"><a href="#" class="btn btn-info">View more</a></p>
    </div>
  </div>

  <div class="card">
    <div id="container" style="width: 300px; height: 150px;">
        <canvas id="pie-chart-oassembler"></canvas>
      </div>
  <div class="card-body">
    <br>
    <h5 class="card-title">open assembler table overview</h5>
    <p class="card-text">Here you can see how much Multiple Choice Questions you have answered right or wrong.</p>
    <p class="card-text"><a href="#" class="btn btn-info">View more</a></p>
  </div>
</div>

<div class="card">
  <div id="container" style="width: 300px; height: 150px;">
      <canvas id="pie-chart-gates"></canvas>
    </div>
<div class="card-body">
  <br>
  <h5 class="card-title">gates overview</h5>
  <p class="card-text">Here you can see how much Multiple Choice Questions you have answered right or wrong.</p>
  <p class="card-text"><a href="#" class="btn btn-info">View more</a></p>
</div>
</div>
    </div>

    <br><br>

      <div class="card-group-two">
      <h2>Broader Overview</h2>
      <div class="card">
        <div id="container" style="width: 300px; height: 150px;">
            <canvas id="topics-radar-bin"></canvas>
          </div>
      <div class="card-body">
        <br>
        <h5 class="card-title">topics overview</h5>
        <p class="card-text">Here you can see your learning percentage concering the different available topics to learn from and practice.</p>
        <p class="card-text"><a href="#" class="btn btn-info">View more</a></p>
      </div>
    </div>
  </div>

      <br>
      
      <hr>
      <br><br>
      {% include "index-analytics.html" %}
      
      <script>
        

            
        var config_SingleChoice = {
          type: 'doughnut',
          data: {
            datasets: [{
              data: {{successRate_All|get__array_valueByIndex:3}},
              backgroundColor: ['#1ef87a', '#f90000'],
              label: 'Statistic for users calculus'
            }],
            labels: {{ labels|safe }}
          },
          options: {
            responsive: true
          }
        };

        var config_MultipleChoice = {
          type: 'doughnut',
          data: {
            datasets: [{
              data: {{successRate_All|get__array_valueByIndex:4}},
              backgroundColor: ['#1ef87a', '#f90000'],
              label: 'Statistic for users calculus'
            }],
            labels: {{ labels|safe }}
          },
          options: {
            responsive: true
          }
        };

        var config_Cloze = {
          type: 'doughnut',
          data: {
            datasets: [{
              data: {{successRate_All|get__array_valueByIndex:5}},
              backgroundColor: ['#1ef87a', '#f90000'],
              label: 'Statistic for users calculus'
            }],
            labels: {{ labels|safe }}
          },
          options: {
            responsive: true
          }
        };


        var config_TruthTable = {
          type: 'doughnut',
          data: {
            datasets: [{
              data: {{successRate_All|get__array_valueByIndex:6}},
              backgroundColor: ['#1ef87a', '#f90000'],
              label: 'Statistic for users calculus'
            }],
            labels: {{ labels|safe }}
          },
          options: {
            responsive: true
          }
        };

        var config_OpenAssembler = {
          type: 'doughnut',
          data: {
            datasets: [{
              data: {{successRate_All|get__array_valueByIndex:7}},
              backgroundColor: ['#1ef87a', '#f90000'],
              label: 'Statistic for users calculus'
            }],
            labels: {{ labels|safe }}
          },
          options: {
            responsive: true
          }
        };

        
        var config_Gates = {
          type: 'doughnut',
          data: {
            datasets: [{
              data: {{successRate_All|get__array_valueByIndex:8}},
              backgroundColor: ['#1ef87a', '#f90000'],
              label: 'Statistic for users calculus'
            }],
            labels: {{ labels|safe }}
          },
          options: {
            responsive: true
          }
        };

        const data_AnsweredQuestions_Week = {
          labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday','Saturday','Sunday'],
          datasets: [
            {
            label: 'Overall',
            data: {{successRate_Week|get__array_valueByIndex:0}},
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
          },
          {
            label: 'Correct',
            data: {{successRate_Week|get__array_valueByIndex:1}},
            fill: false,
            borderColor: 'rgb(90, 12, 192)',
            tension: 0.1
          }
            ]
        };

        const config_AnsweredQuestions_Week = {
          type: 'line',
          data: data_AnsweredQuestions_Week,
          options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Chart.js Line Chart'
            }
          }
        },
      };
      
        const data_RadarChartTopics = {
          labels: {{AnsweredTopics|get__array_valueByIndex:0|safe}},
          datasets: [{  label: 'Correct',
            data: {{AnsweredTopics|get__array_valueByIndex:2|safe}},
            fill: true,
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgb(54, 162, 235)',
            pointBackgroundColor: 'rgb(54, 162, 235)',
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: 'rgb(54, 162, 235)'
          },{
            label: 'All',
            data: {{AnsweredTopics|get__array_valueByIndex:1|safe}},
            fill: true,
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgb(255, 99, 132)',
            pointBackgroundColor: 'rgb(255, 99, 132)',
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: 'rgb(255, 99, 132)'
          }
          ]
        };

        const config_RadarChartTopics = {
          type: 'radar',
          data: data_RadarChartTopics,
          options: {
            elements: {
              line: {
                borderWidth: 3
              }
            }
          },
        };

        window.onload = function() {

            var ctx_WeeklyProgress = document.getElementById('pie-linechart-week');
            window.myPie = new Chart(ctx_WeeklyProgress, config_AnsweredQuestions_Week);

            var ctx_Topics = document.getElementById('topics-radar-bin').getContext('2d');
            window.myPie = new Chart(ctx_Topics, config_RadarChartTopics);




            var ctx_SingleChoice = document.getElementById('pie-chart-sc').getContext('2d');
            window.myPie = new Chart(ctx_SingleChoice, config_SingleChoice);

            var ctx_MultipleChoice = document.getElementById('pie-chart-mc').getContext('2d');
            window.myPie = new Chart(ctx_MultipleChoice, config_MultipleChoice);

            var ctx_Cloze = document.getElementById('pie-chart-cloze').getContext('2d');
            window.myPie = new Chart(ctx_Cloze, config_Cloze);

            var ctx_TruthTable = document.getElementById('pie-chart-truthtable').getContext('2d');
            window.myPie = new Chart(ctx_TruthTable, config_TruthTable);

            var ctx_OpenAssembler = document.getElementById('pie-chart-oassembler').getContext('2d');
            window.myPie = new Chart(ctx_OpenAssembler, config_OpenAssembler);

            var ctx_Gates = document.getElementById('pie-chart-gates').getContext('2d');
            window.myPie = new Chart(ctx_Gates, config_Gates);     
        

        };
      </script>
  
</div>