{% extends "master.html" %}

{% load template_tags %}

{% block title %} Index E-Assessments {% endblock %}

{% block content %}

<div style="position:absolute; left:0px; right:0px; top:0px; width:100%; padding-left: 40px; padding-top: 40px; padding-right: 40px;">
  {% if request.user.is_superuser %}
    <h1>Learning analytics 👨‍🏫</h1>
    <br><br>
    {% include "laindex_teacher.html" %}
  {% else %}
     <h1>Learning analytics 👨‍🎓</h1>
     <br><br>
     {% include "laindex_student.html" %}
  {% endif %}
  
</div>

{% endblock %}