<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <script src={% static "template/mapcoloring.js" %}></script>
        {{ flags|json_script:"flags" }}
    </head>
    <body>
        <div><h1>Optimization</h1></div>
        <div id="coloring"></div>
        <script>
            flags = JSON.parse(document.getElementById('flags').textContent);
            flags["token"] = "{{csrf_token}}"
            var app = Elm.Main.init({
                node: document.getElementById('coloring'),
                flags: flags
            });
        </script>
    </body>
</html>
