<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <script src={% static "template/mapcoloring.js" %}></script>
        {{ karnaugh|json_script:"karnaugh" }}
    </head>
    <body>
        <div><h1>Hello</h1></div>
        <div id="coloring"></div>
        <script>
            karnaugh = JSON.parse(document.getElementById('karnaugh').textContent);
            var app = Elm.Main.init({
                node: document.getElementById('coloring'),
                flags: {
                    "karnaugh": karnaugh,
                    "error_redirect": "localhost"
            }});
        </script>
    </body>
</html>
