{% extends "qawset_item.html" %}
{% load template_tags %}

{% block question_content %}
{% get_Topic_SpecificQuestion_UserData qawset user as SpecificQuestion_Score %}

{% with successPercentage=SpecificQuestion_Score|get__array_valueByIndex:0  %}
{% with successDuration=SpecificQuestion_Score|get__array_valueByIndex:3|safe  %}
<p>
    {% if qwaset.Difficulty == "Easy" %}
        <a style="color: #424242; text-decoration:none"><span class="badge badge-pill" style="background-color: #292828; font-weight: lighter;">{{qwaset.ItemType}}</span> <span class="badge badge-pill" style="background-color: #15da0b; font-weight: lighter;">{{qwaset.Difficulty}}</span> {{qwaset.title}}</a>
    {% elif qwaset.Difficulty == "Medium" %}
        <a style="color: #424242; text-decoration:none"></a><span class="badge badge-pill" style="background-color: #292828; font-weight: lighter;">{{qwaset.ItemType}}</span> <span class="badge badge-pill" style="background-color: #daca0b; font-weight: lighter;">{{qwaset.Difficulty}}</span> {{qwaset.title}}</a>
    {% elif qwaset.Difficulty == "Hard" %}
        <a style="color: #424242; text-decoration:none"><span class="badge badge-pill" style="background-color: #292828; font-weight: lighter;">{{qwaset.ItemType}}</span> <span class="badge badge-pill" style="background-color: #fc432c; font-weight: lighter;">{{qwaset.Difficulty}}</span> {{qwaset.title}}</a>
    {% elif qwaset.Difficulty == "Insane" %}
        <a style="color: #424242; text-decoration:none"><span class="badge badge-pill" style="background-color: #292828; font-weight: lighter;">{{qwaset.ItemType}}</span> <span class="badge badge-pill" style="background-color: #452cfc; font-weight: lighter;">{{qwaset.Difficulty}}</span> {{qwaset.title}}</a>
    {% endif %}

    {% if SpecificQuestion_Score != None %}

   
        {% if successPercentage > 70 %}
            <span class="badge badge-pill" style="background-color: #0a6616; font-weight: lighter;">{{successPercentage}}% - Correct</span>
        
        {% elif successPercentage > 30 %}
            <span class="badge badge-pill" style="background-color: #817813; font-weight: lighter;">{{successPercentage}}% - Correct</span>
        
        {% else %}
            <span class="badge badge-pill" style="background-color: #8b1414; font-weight: lighter;">{{successPercentage}}% - Correct</span>
        
        {% endif %}

        <span class="badge badge-pill" style="background-color: #3e4ab6; font-weight: lighter;">{{successDuration}} - Duration</span>
    
    {% endif %}
    
</p>
{% endwith %}
{% endwith %}
{% endblock %}

