{% block question_content %}
<p>
    {% if qwaset.Difficulty == "Easy" %}
        <a style="color: #424242; text-decoration:none" href="/eassessments/{{qwaset.Target}}/?t={{qwaset.NameID}}"><span class="badge badge-pill" style="background-color: #292828; font-weight: lighter;">{{qwaset.ItemType}}</span> <span class="badge badge-pill" style="background-color: #15da0b; font-weight: lighter;">{{qwaset.Difficulty}}</span> {{qwaset.title}}</a>
    {% elif qwaset.Difficulty == "Medium" %}
        <a style="color: #424242; text-decoration:none" href="/eassessments/{{qwaset.Target}}/?t={{qwaset.NameID}}"><span class="badge badge-pill" style="background-color: #292828; font-weight: lighter;">{{qwaset.ItemType}}</span> <span class="badge badge-pill" style="background-color: #daca0b; font-weight: lighter;">{{qwaset.Difficulty}}</span> {{qwaset.title}}</a>
    {% elif qwaset.Difficulty == "Hard" %}
        <a style="color: #424242; text-decoration:none" href="/eassessments/{{qwaset.Target}}/?t={{qwaset.NameID}}"><span class="badge badge-pill" style="background-color: #292828; font-weight: lighter;">{{qwaset.ItemType}}</span> <span class="badge badge-pill" style="background-color: #fc432c; font-weight: lighter;">{{qwaset.Difficulty}}</span> {{qwaset.title}}</a>
    {% elif qwaset.Difficulty == "Insane" %}
        <a style="color: #424242; text-decoration:none" href="/eassessments/{{qwaset.Target}}/?t={{qwaset.NameID}}"><span class="badge badge-pill" style="background-color: #292828; font-weight: lighter;">{{qwaset.ItemType}}</span> <span class="badge badge-pill" style="background-color: #452cfc; font-weight: lighter;">{{qwaset.Difficulty}}</span> {{qwaset.title}}</a>
    {% endif %}
    
</p>
{% endblock %}
