{% extends "master.html" %}

{% block title %} Index E-Assessments {% endblock %}

{% block content %}

<div style="position:absolute; left:0px; right:0px; top:0px; width:100%; padding-left: 40px; padding-top: 40px;">

    {% if message %}
        {% if correct %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {% endif %}
    {% else %}
        <p class="form-group">
            <h3>{{Question}}</h3>
        
            <form action="/eassessments/{{Target}}/?t={{Categorie}}", method="post">
                {% csrf_token %}
                {{Form.as_p}}
                
                <button type="submit">Answer</button>
            </form>
        </p>
    {% endif %}

</div>

{% endblock %}