{% extends "master.html" %}

{% block title %} Index E-Assessments {% endblock %}

{% block content %}

<div style="position:absolute; left:0px; right:0px; top:0px; width:100%; padding-left: 40px; padding-top: 40px;">

    {% if message %}
        {% if correct %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {% endif %}
    {% else %}
        <p class="form-group">

            <h4>{{Question}}</h4>
            
            <form action="/eassessments/{{Target}}/?t={{Categorie}}", method="post">
                {% csrf_token %}
                {{form.NameID}}
                {{form.BeginTime}}
                <table id="table1">
                {{ Form.as_table }}
                </table>
                <br>
                <br>
                <button type="submit" class="btn btn-info">Answer</button>
                
                <script>
                    document.getElementById("table1").style.fontSize = "20px";
                    document.getElementById("table1").style.border = "1px solid #000";
                    document.getElementById("table1").style.width = "25%";
                    document.getElementById("table1").style.borderRadius = "25px";
                    document.getElementById("table1").getElementsByTagName('tbody').style.padding = "25px";
                </script>
            </form>       
        </p>
    {% endif %}

    
</div>

{% endblock %}