{% extends "master.html" %}

{% block title %} Index E-Assessments {% endblock %}

{% block content %}

<div style="position:absolute; left:0px; right:0px; top:0px; width:100%; padding-left: 40px; padding-top: 40px;">

    <p class="form-group">
        Please answer the following questions <b class="badge badge-pill badge-primary" style="background-color: #bba457; color: #424242"></b> <br>

        <h4>{{message}}</h4>
        <h4>{{result}}</h4>
        
        <form action="/eassessments/{{Target}}/?t={{Categorie}}", method="post">
            {% csrf_token %}
            <table id="table1">
            {{ Form.as_table }}
            </table>
            <br>
            <br>
            <button type="submit" class="btn btn-info">Answer</button>
            
            <script>
                document.getElementById("table1").style.fontSize = "20px";
                document.getElementById("table1").style.border = "1px solid #000";
                document.getElementById("table1").style.width = "25%";
                document.getElementById("table1").style.borderRadius = "25px";
                document.getElementById("table1").getElementsByTagName('tbody').style.padding = "25px";
            </script>
        </form>       
    </p>
</div>

{% endblock %}